*{
box-sizing:border-box;
-webkit-tap-highlight-color: transparent;
}

body{
margin:0;
font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto;
background:black;
color:white;
overflow:hidden;
}

/* START SCREEN */
#start{
position:fixed;
inset:0;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:20px;
background:radial-gradient(circle at center,#120010,#000);
z-index:10;
}

.subtitle{
opacity:.7;
font-size:14px;
}

button{
padding:18px 40px;
font-size:18px;
border:none;
border-radius:60px;
background:linear-gradient(90deg,#ff0080,#ff4d00);
color:white;
box-shadow:0 0 30px hotpink;
backdrop-filter: blur(20px);
}

/* GAME */
#game{
position:fixed;
inset:0;
}

#basket{
position:absolute;
bottom:40px;
font-size:70px;
}

/* HEART */
.heart{
position:absolute;
font-size:40px;
filter:drop-shadow(0 0 15px hotpink);
}

/* COUNTER */
#megaCounter{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
display:flex;
gap:20px;
pointer-events:none;
}

#scoreNumber{
font-size:120px;
font-weight:900;
background:linear-gradient(#ff0080,#ffcc00,#00ffe0);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

/* IMAGE SCENE */
#imageScene{
display:none;
position:fixed;
inset:0;
background:black;
justify-content:center;
align-items:center;
flex-direction:column;
}

#loveImage{
width:85vw;
max-width:380px;
border-radius:25px;
opacity:0;
transform:scale(.5);
box-shadow:
0 0 40px hotpink,
0 0 80px purple,
0 0 120px red;
}

/* STORY SCENE */
#storyScene{
display:none;
position:fixed;
inset:0;
background:linear-gradient(180deg,#000,#1a0014);
justify-content:center;
align-items:center;
padding:20px;
}

#storyBox{
max-width:500px;
background:rgba(255,255,255,.05);
padding:30px;
border-radius:25px;
backdrop-filter: blur(30px);
box-shadow:0 0 60px rgba(255,0,100,.4);
}

#storyText{
line-height:1.7;
font-size:18px;
opacity:.9;
}
